{{< fragments/layout }}

<!DOCTYPE html>

<html>

<body>
{{$template}}
<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Specialties</th>
  </tr>
  </thead>
  <tbody>
  {{#vets}}
  <tr>
    <td>{{firstName}} {{lastName}}</td>
  </tr>
  {{/vets}}
  </tbody>
</table>

TODO PAGINGs
https://github.com/spring-projects/spring-petclinic/blob/main/src/main/resources/templates/vets/vetList.html
{{/template}}
</body>
</html>
{{/ fragments/layout }}
