<!doctype html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/static/resources/images/favicon.png>

  <title>PetClinic :: a Spring Framework demonstration</title>

  <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/resources/css/petclinic.css" />

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" style>

        <ul class="nav navbar-nav me-auto">
          {{#menuItems}}
          <li class="nav-item">
            {{! nav-link active}}
            <a class="nav-link {{#active}}active{{/active}}" href="{{link}}" title="{{title}}">
              <span class="fa fa-{{glyph}}"></span>
              <span>{{text}}</span>
            </a>
          </li>
          {{/menuItems}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container xd-container">
      {{$template}}
      {{/template}}

      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img src="/static/resources/images/spring-logo.svg" alt="VMware Tanzu Logo" class="logo">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/webjars/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
